<h1><%= @user.username %>'s Profile</h1>
<br>
<br>
<br>
<h2>Super Informations:</h2>
<p>Name: <%= @user.full_name %></p>
<p>Email: <%= @user.email %></p>
<br>
<br>
<br>
<h2>Powers for Sale</h2>
  <% if @user.products.any? %>
    <ul>
      <% @user.products.each do |product| %>
        <li><%= link_to product.title, product_path(product) %></li>
      <% end %>
    </ul>
  <% else %>
    <p>No products for sale.</p>
  <% end %>
<br>
<%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-danger mb-4" %>
