<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mb-4">
      <%= cl_image_tag @product.photo.key, height: 500, width: 500, crop: :fit, class: "img-fluid" %>
    </div>
    <div class="col-md-6">
      <h1 class="mb-3"><%= @product.title %></h1>
      <h5 class="font-weight-bold mb-0">Category:</h5>
      <p class="mb-3"><%= @product.category %></p>
      <h5 class="font-weight-bold mb-0">Description:</h5>
      <p class="mb-3"><%= @product.description %></p>
      <h5 class="font-weight-bold mb-0">Created by:</h5>
      <p class="mb-3"><%= @product.user.username %></p>
      <h5 class="font-weight-bold mb-0">Price:</h5>
      <p class="mb-3">$<%= @product.price %></p>
      <div class="d-flex flex-column">
        <% if user_signed_in? %>
          <div class="d-flex flex-wrap">
            <%= link_to "Buy this Power", new_product_order_path(@product), class: "btn btn-danger mr-2" %>
            <% if current_user == @product.user || current_user.admin? %>
              <%= link_to "Edit", edit_product_path, class: "btn btn-danger mr-2 mx-1" %>
              <%= link_to "Delete", product_path(@product), class: "btn btn-danger", data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        <% else %>
          <div class="mt-auto">
            <%= link_to "Buy this Power", new_product_order_path(@product), class: "btn btn-danger" %>
          </div>
        <% end %>
      </div>
      <%= link_to "Back", products_path, class:"btn btn-outline-danger mt-4 btn-sm" %>
    </div>
  </div>
</div>
